<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Describtion:</strong>
    <%= team.describtion %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= team.members %>
  </p>

  <p>
    <strong>Leader:</strong>
    <%= team.leader %>
  </p>

</div>
