<head>
<style>
.header {
  padding: 10px;
  text-align: center;
  color: rgb(0, 77, 0);
  font-size: 30px;
}
h1 {text-align: center;}

div.dep {text-align: center;}


li {float: left;}

.lol {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}


.sideUl {background-color: white;}

.sideUl li { display: block;
            text-decoration: none;}


</style>
</head>


<div id="main">
<table class="table table-striped">
<tr> <th> Team ID </th>
    <th> <%= t 'Team.index.name' %> </th>
    <th> <%=t 'Team.index.describtion' %> </th>
    <th> <%= t 'Team.index.members' %> </th>
    <th> <%= t 'Team.index.leader' %> </th>
</tr>
  <div>
    <% @teams.each do |team| %>
      <%= render team %>
      <td>
        <%= link_to t('Home.index.actions'), team %>
      </td>
    <% end %>
  </div>
</table>
<li><%= link_to "New Team", new_team_path%></li><br>
