<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
  |
  <%= link_to "Back to teams", teams_path %>
<%= link_to "Edit this team", edit_team_path(@team) %> 
  <%= button_to "Destroy this team", @team, method: :delete %>
</div>
