<tr id="<%= dom_id employee %>">
  <td><%= employee.id %></td>
  <td>
    
    <%= employee.name %>
  </td>

  <td>
    
    <%= employee.email %>
  </td>

  <td>
    
    <%= employee.job %>
  </td>

  <td>
   
    <%= employee.salary %>
  </td>

  <td>
    
    <%= employee.employment %>
  </td>

  <td>
    
    <%= employee.team_id %>
  </td>

  

  
  
</tr>
