
<head>
<style>
.header {
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
h1 {text-align: center;}

/* #employee {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
} */

/* #employee td, #employee th {
  border: 1px solid #ddd;
  padding: 8px;
}

#employee tr:nth-child(even){background-color: #f2f2f2;}

#employee tr:hover {background-color: #ddd;}

#employee th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(125, 191, 125);
  color: white;
} */

div.dep {text-align: center;}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(49, 104, 49);
} */

/* 
li {float: left;} */

.lol {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}


.sideUl {background-color: white;}

.sideUl li { display: block;
            text-decoration: none;}

</style>
</head>



<div id="main">
<table class="table table-striped">
<tr>  <th>Employee ID</th>
     <th> <%= link_to t('ُِEmployee.index.name'), :sort => "name" %> </th>
      <th> <%= t 'Employee.index.email' %> </th>
      <th> <%= link_to t('ُِEmployee.index.job'), :sort => "job" %> </th>
      <th> <%= link_to t('ُِEmployee.index.salary'), :sort => "salary" %> </th>
      <th> <%= t 'Employee.index.employment' %>  </th>
      <th> <%= t 'Employee.index.team id' %> </th>
 </tr>
<div>
  <% @employees_sorted.each do |employee| %>
    <%= render employee %>
  <td>
  <p>
      <%= link_to t('Home.index.actions'), employee %>
    </p>
  </td>
    
  <% end %>
</div>
</table>

<li><%= link_to "New employee", new_employee_path%></li><br>



</div>

