<tr id="<%= dom_id target %>">
  <td>
    <%= target.title %>
  </td>

  <td>
    <%= target.description %>
  </td>

  <td>
    <%= target.start_date %>
  </td>

  <td>
    <%= target.finish_date %>
  </td>

  <td>
    <%= target.team.name %>
  </td>

  <td>
    <%= target.status %>
  </td>

</tr>
