<head>
<style>

.header {
  padding: 10px;
  text-align: center;
  color: rgb(0, 77, 0);
  font-size: 30px;
}
h1 {text-align: center;}

div.dep {text-align: center;}

li {float: left;}

.lol {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}

.sideUl {background-color: white;}

.sideUl li { display: block;
            text-decoration: none;}


</style>
</head>

<div class="container">




<table class="table table-striped">
<tr>
    <th> <%= t 'Target.index.title' %> </th>
    <th> <%= t 'Target.index.description' %> </th>
    <th> <%= t 'Target.index.start date' %></th>
    <th> <%= t 'Target.index.finish date' %> </th>
    <th> <%= t 'Target.index.team id' %> </th>
    <th> <%= t 'Target.index.status' %> </th>
</tr>
<div>
  <% @targets.each do |target| %>
    <%= render target %>
    <td>
      <%= link_to t('Home.index.actions'), target %>
    </td>
  <% end %>
</div>
</table>
<li><%= link_to "New Target", new_target_path%></li><br>


</div>