<tr id="<%= dom_id division %>">
  <td>
    <%= division.name %>
  </td>

  <td>
    <%= division.description %>
  </td>

  <td>
    <%= division.team_id %>
  </td>

  <td>
    <%= division.employee_id %>
  </td>

</tr>
